
@import './config';
@import './minireset.scss';



@keyframes  anim_blk_close{ 
    from{
        opacity: 1;
        transform: translateY(0px);  
    }

    to{
        opacity: 0;
        transform: translateY(-20px);
        //display: none;
        height: 0px;
    }
}


@keyframes anim_blk { 
    from{
        height: 0px;
        opacity: 0;
        transform: translateY(-20px);
    }


    to{
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
}



* {
    box-sizing: border-box;
 }

 body{
    color:$color_font_default;
    font-family: $lst_fonts;
    font-size: $size_font;
 }

/*
Styles block header 
*/
@import './header';

/*
Styles block Body
*/

@import './body_home';

/* Styles Footer */

@import './_footer';

/* Styles Section valeurs */
@import './boxArticle';

/*Styles Fiche logement*/

@import './carrousel';



/* Fiche logement identité */

@import './fich_logt';


.hidden{
    display: none;
}

@import './Error';
